.formBranchContainer{
    background-image: url('bg6.jpg');
    background-size: cover;
}

.formBranchContainer3{
    background-image: url('bg6.jpg');
    background-size: cover;
}


/* .formCard{
    border-radius: 10px;
    
    background-color: rgb(152 151 151 / 30%); 
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
} */